<!--
  应用组件模板
  @author 刘宏强
-->

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto"><img src="assets/img/logo.png" alt="大强作品库" title="大强作品库" class="scrollto" />大强作品库</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">首页</a></li>
          <li><a href="#services">服务内容</a></li>
          <li><a href="#portfolio">成功案例</a></li>
		  <li><a href="#clients">合作伙伴</a></li>     
          <li><a href="#about">关于我们</a></li>
		  <li><a href="#team">关于团队</a></li>		       
          <li><a href="#contact">联系我们</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url('assets/img/intro-carousel/1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>因为专业，所以信赖！</h2>
                <p>大强作品库有好的产品和专业的团队，公司发展迅速，我们为客户提供最好的产品、良好的技术支持、健全的售后服务，大强作品库是软件知名企业，如果您对我公司的产品服务有兴趣，请在线留言或者来电咨询。</p>
                <a href="#featured-services" class="btn-get-started scrollto">了解详情</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('assets/img/intro-carousel/2.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>技术为根，服务为本！</h2>
                <p>大强作品库是技术型公司，尤其在IT行业，科学技术和科技人才领先是我们赖以生存的特点和基础。IT行业的特点决定服务是技术的延续，是以顾客满意为前提。实现顾客需求是我们服务的目标，也是公司的生存之本。</p>
                <a href="#featured-services" class="btn-get-started scrollto">了解详情</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('assets/img/intro-carousel/3.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>大强出品，必是精品！</h2>
                <p>大强作品库依托十多年深厚的技术积淀、良好的市场口碑和广泛的客户资源关系，发挥自身人力资源优势，拥有精深的技术积累，优质服务的可靠保障；具备多项平台产品，多项获奖产品，多个行业信息化整体解决方案；</p>
                <a href="#featured-services" class="btn-get-started scrollto">了解详情</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>服务内容</h3>
          <p>大强作品库是技术型公司，尤其在IT行业，科学技术和科技人才领先是我们赖以生存的特点和基础。IT行业的特点决定服务是技术的延续，是以顾客满意为前提。实现顾客需求是我们服务的目标，也是公司的生存之本。</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-android-globe"></i></div>
            <h4 class="title"><a href="">网站建设</a></h4>
            <p class="description">模板建站 /网站定制</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-android-phone-portrait"></i></div>
            <h4 class="title"><a href="">移动开发</a></h4>
            <p class="description">APP开发 /微信开发 /H5定制</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-android-desktop"></i></div>
            <h4 class="title"><a href="">软件开发</a></h4>
            <p class="description">工具软件 /管理软件</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-android-color-palette"></i></div>
            <h4 class="title"><a href="">产品/UI</a></h4>
            <p class="description">产品原型 /UI设计</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">数据服务</a></h4>
            <p class="description">数据采集 /数据分析 /数据购买</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-help-buoy"></i></div>
            <h4 class="title"><a href="">IT解决方案</a></h4>
            <p class="description">电商行业 /餐饮行业 /金融行业</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="section-header text-center">
        <h3>网站建设</h3>
        <p>网站建设包括以下服务内容：模板建站、网站二次开发、前端开发、网站安全维护、网站定制开发、后端开发、手机网站等。</p>
        <a class="cta-btn" href="#">了解详情</a>
      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
    <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>移动开发</h3>
          <p>移动开发包括以下领域：微信、购物、电商、餐饮、微商、微商城金融、教育、科技、分销、理财、旅游、娱乐、培训等。</p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">weUI <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Frozen UI <i class="val">95%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">MUI <i class="val">88%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Frozen UI <i class="val">75%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>软件开发</h3>
          <p>软件开发包括以下服务内容：管理软件、工具软件、行业软件、嵌入式软件、软件汉化等。</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">12</span>
            <p>管理软件</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>工具软件</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">16</span>
            <p>行业软件</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">8</span>
            <p>嵌入式软件</p>
  				</div>

  			</div>

        <div class="facts-img">
          <img src="assets/img/facts-img.png" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">成功案例</h3>
		  <p>大强作品库依托十多年深厚的技术积淀、良好的市场口碑和广泛的客户资源关系，发挥自身人力资源优势，拥有精深的技术积累，优质服务的可靠保障；具备多项平台产品，多项获奖产品，多个行业信息化整体解决方案；</p>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">软件开发</li>
			  <li data-filter=".filter-web">网站建设</li>
              <li data-filter=".filter-app">移动开发</li>
              <li data-filter=".filter-card">产品/UI</li>              
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="http://www.sxsjsfzxh.org/">陕西省建设法治协会官网</a></h4>
                <p>网站建设</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-active wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="https://www.wdzbj.cn/">筑八戒云服务平台</a></h4>
                <p>软件开发</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-active wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="http://www.zhushucloud.com/">筑术云平台</a></h4>
                <p>软件开发</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/card2.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="http://www.dqncpw.com/">大强农产品网</a></h4>
                <p>网站建设</p>
              </div>
            </div>
          </div>
		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-active wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/card3.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Activiti工作流项目</a></h4>
                <p>软件开发</p>
              </div>
            </div>
          </div>      

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="http://www.juejinnet.com/">掘金一号官网</a></h4>
                <p>网站建设</p>
              </div>
            </div>
          </div>
		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">客户关系管理系统</a></h4>
                <p>软件开发</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="http://www.dqgzs.net/">大强作品库官网</a></h4>
                <p>网站建设</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="assets/img/portfolio/card1.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="预览"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="更多细节"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">画瞰视界</a></h4>
                <p>软件开发</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>合作伙伴</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="assets/img/clients/client-1.png" alt="">
          <img src="assets/img/clients/client-2.png" alt="">
          <img src="assets/img/clients/client-3.png" alt="">
          <img src="assets/img/clients/client-4.png" alt="">
          <img src="assets/img/clients/client-5.png" alt="">
          <img src="assets/img/clients/client-6.png" alt="">
          <img src="assets/img/clients/client-7.png" alt="">
          <img src="assets/img/clients/client-8.png" alt="">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>客户感言</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>梁总</h3>
            <h4>虎脸科技 CEO</h4>
            <p>
              <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              专业的业务团队，丰富的业务经验，全面细致、直接有效的业务指导，一对一的详细解答专业性问题，大强作品库真棒！
              <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
            <h3>郭总</h3>
            <h4>合友科技 CEO</h4>
            <p>
              <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              大强作品库，行业翘楚，服务最好，没有之一！
              <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
            <h3>赵总</h3>
            <h4>昊景网络 CEO</h4>
            <p>
              <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              大强作品库的开发能力和热情周到的售后服务让人印象深刻，期待再次合作。
              <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
            <h3>李总</h3>
            <h4>掘金一号 CEO</h4>
            <p>
              <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              在2017年的合作中，与大强作品库合作愉快，小伙伴对接项目回馈及时，项目均能按时如约完成。希望明年可以继续合作。
              <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
            <h3>何总</h3>
            <h4>蝌蚪工作室 CEO</h4>
            <p>
              <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              一路相伴，携手共进。感谢大强作品库给予我们的大力支持和协作！
              <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>关于我们</h3>
          <p>大强作品库有好的产品和专业的团队，公司发展迅速，我们为客户提供最好的产品、良好的技术支持、健全的售后服务，大强作品库是软件知名企业，如果您对我公司的产品服务有兴趣，请在线留言或者来电咨询。</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">公司概览</a></h2>
              <p>
			    为适应当今互联网化，以及云计算、大数据带来的挑战，
				公司将业务划分为网站建设、移动开发、软件开发、产品/UI、
				数据服务、IT解决方案、软件SaaS、技术服务等。
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-time-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">发展历史</a></h2>
              <p>
                2018年，全面引入CMM软件质量成熟度模型。
				2017年，大强软件开发中心成立。
				2016年，推出自主知识产权应用支撑平台MyFrame V1.0。
				2015年8月注册成立大强作品库。
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-trophy"></i></div>
              </div>
              <h2 class="title"><a href="#">企业文化</a></h2>
              <p>
                最受尊敬的互联网企业
				通过互联网服务提升人类生活品质
				一切以用户价值为依归
				正直+进取+合作+创新
				关心员工成长
				极佳的职业发展
				完善的员工发展机制
				完备的培养体系
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->
	
	<!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>关于团队</h3>
          <p>大强作品库有好的产品和专业的团队，公司发展迅速，我们为客户提供最好的产品、良好的技术支持、健全的售后服务。</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>刘宏强</h4>
                  <span>CEO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="assets/img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>王芙蓉</h4>
                  <span>产品经理</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>张小强</h4>
                  <span>架构师</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>李有才</h4>
                  <span>UI设计师</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>联系我们</h3>
          <p>大强作品库是软件知名企业，如果您对我公司的产品服务有兴趣，请在线留言或者来电咨询。</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>地址</h3>
              <address>西安市高新区唐兴路19号</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>电话</h3>
              <p><a href="tel:+17792261329">177 9226 1329</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>邮箱</h3>
              <p><a href="mailto:info@example.com">361604199@qq.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">您的邮件已发送，谢谢！</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="姓名" data-rule="minlen:4" data-msg="请输入至少4个字符" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="邮箱" data-rule="email" data-msg="请输入有效的电子邮件" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" data-rule="minlen:4" data-msg="请输入至少8个主题字符" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="请给我们写点东西" placeholder="内容"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">发送</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>常用链接</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#intro">首页</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">关于我们</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#services">服务内容</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">服务条款</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">隐私政策</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>联系我们</h4>
            <p>
              西安市 <br>
              高新区<br>
              唐兴路19号 <br>
              <strong>电话:</strong> 177 9226 1329<br>
              <strong>邮箱:</strong> 361604199@qq.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>即时通讯</h4>
            <p>我们提供了多种订阅方式方便您追踪获取大强作品库的最新消息。如果你正在使用RSS阅读器，请订阅如下的RSS feed：</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="订阅">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; 版权所有 <strong>大强作品库</strong> 保留所有权利
      </div>
      <div class="credits">        
        技术支持 <a href="">大强工作室</a> 提供技术支持
      </div>
	  <div class="credits">
		<a href="http://www.miitbeian.gov.cn/" style="color:#fff">陕ICP备18017177号</a>
	  </div>
	  <div class="credits">
		<div style="width:300px;margin:0 auto; padding:0px 0;">
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61019002000730" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="assets/img/record.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#fff;">陕公网安备 61019002000730号</p></a>
		</div>
	  </div>		 
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
